@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Bubblegum Sans","Tajawal", sans-serif;
    background: linear-gradient(45deg, #4ecdc4 , #45b7d1);
    color: #fff;
    text-align: center;
    height: 100vh;
    color: #317989;
}

/* navbar */

nav{
    background-color: #aff0ff;
    color: #317989;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

nav ul{
    display: flex;
    align-items: center;
    column-gap: 25px;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: inherit;
}

nav button{
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: larger;
    cursor: pointer;
    display: none;
}

/* sections */

#container-box{
    background-color: #163238;
    color: #4ecdc4;
    border-radius: 25px;
    padding: 100px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.7);
}
.text-container{
    font-size: 2.5rem;
    margin: 50px 25px 100px 25px;
}
.btn-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
}
.btn{
    font-family: inherit;
    padding:30px 10px ;
    font-size: 1.6rem;
    font-weight: bold;
    background-color:#FFB84D ;
    color: #163238;
    border:none;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.02);
}
.btn:active{
    transform: scale(1);
}

#secBtn-container{
    display: none;
}

#result-box{
    display: none;
}
#result-box p{
    font-size: 2.5rem;
    margin: 50px 0 100px 0;
}
#result-box .btn{
    width: 100%;
}

/* Footer */

footer{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    background-color: #317989;
    color: #aff0ff;
}
footer div{
    padding: 25px 50px;
}
footer p{
    margin: 10px 0;
    font-size: 1.2rem;
}
.socials{
    text-align: left;
}
.socials a{
    /* color: inherit; */
    font-size: 1.3rem;
    color: #163238;
    cursor: pointer;
     text-decoration: none;
}
.text-content{
    text-align: right;
}



@media (max-width: 1000px) {

    nav button{
        display: block;
        z-index: 100;
    }

    nav .uslsList{
        display: none;
    }

    .pagesList{
        background-color: #31798950;
        color: #aff0ff;
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 50%;
        height: 100vh;
        z-index: 99;
    }

    .pagesList.openList{
        display: block;
    }

    .pagesList li{
        margin: 5px 0;
        padding: 15px 10px;
        text-shadow: 0 0 5px #000;
        transition: 250ms ease-in-out;
        cursor: pointer;
    }

    .pagesList li:hover{
        background-color: #00000050;
        color: #aff0ff;
    }

    /* sections */

    #container-box{
        padding: 50px;
        margin: 50px;
    }
    .text-container{
        font-size: 2rem;
        margin: 50px 0 100px 0;
    }

    .btn{
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    .pagesList{
        width: 100%;
    }
    footer p{
        font-size: 1.02rem;
        width: 120%;
    }

    #container-box{
        padding: 25px;
        margin: 15px;
    }
    
    .btn-box{
        grid-template-columns: repeat(1, 100%);
    }
    .btn{
        font-size: 1.2rem;
    }
    #result-box p{
        font-size: 2rem;
    }
}